<!DOCTYPE html>
<html>
<head>
	<title>Home | WKahres</title>
	<meta name="viewport" content="width=device-width, initial-scale=.9">
	<!-- bootstrap--> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!--fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,300;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal&display=swap" rel="stylesheet">
	<!--icons-->
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
	<!--css-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/hamburgers.css">

	<!--javascript -->
</head>

<body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<div class = "wfixed container-fluid">

<!--Label -->
	<div class = "container-fluid black-background" name = "home">
		<div class = "container-top pb-1 pt-md-3 pb-md-4">
			<div>
				<a class="navbar-brand brand text-white" href="#">
					<i class="lni lni-lg lni-database"></i>
					<span class = "text-white" id="brand-label">  WKAHRES</span>
				</a>
				<div class = "float-right">
					<!--hamburger button THIS NEEDS WORK WHEN I MAKE SCREEN ADJUSTMENTS -->
        			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
           		 		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            			<span class="navbar-toggler-icon"></span>
        			</button>

					<span class = "d-none d-md-inline">
						<a href="mailto:walterkahres@gmail.com" class = "text-white rale" target = "_blank">
							<span class = "email-me">Email Me!</span>
							<span class="sr-only">(current)</span></a>
					</span>
             	</div>
            <h5 class = "rale">Creating Business Solutions Using Computer Technology</h5>
            </div>
		</div> <!-- 1st header container -->
	</div> <!--1st fluid container -->

<!--Navbar -->
	<div class = "container-fluid" id = test>
		<div class = "container-top" >
			<nav class="navbar navbar-expand-lg navbar-dark nopadding gray-background">
				<!--hamburger button THIS NEEDS WORK WHEN I MAKE SCREEN ADJUSTMENTS -->
        		<button class="navbar-toggler ml-auto hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
           		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            		<span class="navbar-toggler-icon"></span>
        		</button>
    
       			<div class="collapse navbar-collapse text" id="navbarSupportedContent">
            		<ul class="navbar-nav mr-auto">
                		<li class="nav-item active">
                    		<a class="nav-link my-font navbar-info" href="#">Home <span class="sr-only">(current)</span></a>
                		</li>
                		<li class="nav-item dropdown">
                    		<a class="nav-link text-white dropdown-toggle my-font navbar-info" href="#" id="navbarDropdown" role="button" 
                    			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        		Page Sections
                    		</a>
                    		<div class="dropdown-menu gray-background my-nav-border" aria-labelledby="navbarDropdown">
                        		<a class="dropdown-item btn text-white navbar-info my-font" href="#about-me">Who Am I?</a>
                        		<a class="dropdown-item btn text-white navbar-info my-font" href="#learning-text">Languages and Tools</a>
                        		<a class="dropdown-item btn text-white navbar-info my-font" href="#studying-text">Recent Learning</a>
                        		<a class="dropdown-item btn text-white navbar-info my-font" href="#contact">Contact Me</a>
                    		</div>
                		</li>
                		<li class="nav-item">
                    		<a class="nav-link text-white navbar-info my-font" href="./assets/Walter Kahres - Resume.docx">Download My Resume <i class="lni lni-download"></i></a>
                		</li>
                		<li class="nav-item">
                    		<a class="nav-link disabled navbar-info my-font" href="#">Portfolio (Coming Soon)</a>
                		</li>
            		</ul>
            		<form class="form-inline my-2 my-lg-0">
                		<span class="mr-2" ><a href="mailto:walterkahres@gmail.com" class = "text-white navbar-info my-font" target = "_blank">walterkahres@gmail.com <span class="sr-only">(current)</span></a></span>
                		<span ><a href="https://www.linkedin.com/in/walter-kahres-cs1" class = "text-white navbar-info my-font" target = "_blank"><i class="lni lni-linkedin-original"></i>  <span class="sr-only">(current)</span></a></span>
            		</form>
        		</div><!--navbar div content-->
    		</nav> <!--actual navbar -->
		</div> <!-- navbar container -->
	</div> <!--navbar container-fluid and setup -->

</div><!--closes fixed div-->

<!--Title -->
	<div class = "container-fluid navbar-fixer gray-background nopadding pt-lg-3 pb-md-3">
		<div class = "container-top area row nopaddinag black-background ml-0 mr-0 mb-0 mt-0 ml-md-5 mr-md-5 mb-md-5 mt-md-3">
			<div class = "col-lg-6 nopadding order-2 order-md-1 center-text" >
				<div class = "img-box-top mb-0"></div>
			</div><!--close left side -->
			<div class = "col-lg-6 order-1 order-md-2">
				<div>
					<h1 id = "my-name" class= "center-text pt-0 pt-md-5">WALTER KAHRES</h1>
					<h4 class = "center-text">Programmer. Developer. Problem Solver</h4>
					<!--<blockquote class = "blockquote quote center-text"> -->
						<p class = "email-me center-text my-font pt-5 pb-5">...I would like to use this site to share some of my personal work with the world."</p>
					<!--</blockquote>-->
				</div>
			</div><!--close right side -->			
		</div> <!-- tease image and message container -->
	</div> <!--tease container-->

<!--about me-->
	<a id = "about-me" class="anchor"></a>
	<div class = "container-fluid wlight-background">
		<div class = "container-lg">
			<div class = "nopadding" id="container-about-me">
				<div id = "my-photo-box">
					<div id = "my-photo-div">
						<img src = "../assets/photo-thumb2.jpg" alt="My Photo" id="my-photo" class="contrast">
					</div>
				</div>
				<div>
					<h3 class="center-text title">WHO AM I?</h3>
				</div>
				<div class = "pt-5 center-text">
					<h4 class="my-font">Multidisciplinary Computer Scientist</h4>
				</div>
				<div class="pt-5">
					<!--<blockquote class = "blockquote">-->
						<h5 class = "center-text my-font" id="may-story">I live in Dublin, Georgia with my wife.  I am an IT professional who has worked as a database analyst in the HRO Benefits Outsourcing field for many years both in an office in Atlanta, Georgia and also remotely from home since I graduated from college.  I have a bachelor's degree in Computer Science from Georgia Southern University and I love programming and I also love learning.  I was recently laid off from my job due to position elimination but I haven't stopped working.  While I enjoyed my previous position, this newly found free time is giving me an excellent opportunity to really understand and utilize various programming and development techniques.  I am currenly looking for a new career where I can let my skills shine and I would like to use this site to share some of my personal work with the world.</h5>
					<!--</blockquote>-->
				</div> <!--message about me-->
			</div> <!-- -->
		</div><!--about me message container-->
	</div><!--about me container -->

<!--learning text-->
	<a id = "learning-text" class="anchor"></a>
	<div class = "container-fluid nopadding text-white">
		<div class="my-learning-box">
			<div class = "container-lg">
				<div class="center-text">
					<h3 class="center-text title">WHAT LANGUAGES AND TOOLS AM I USING RIGHT NOW?</h3>
				</div>
				<div class = "pt-5 center-text">
					<h4 class = "my-font">My <em>Current</em> Favorite Languages and Tools </h4>
				</div>
				<div class = "pt-5">
					<!--<blockquote class = "blockquote">-->
						<h5 class = "center-text my-font" id="may-story">While I love learning new languages and have learned many (and plan to learn and utilize many more), I understand it is important for a programmer to focus on a smaller subset of languages, tools, and frameworks and become an expert at them first before moving on to others. </h5>
					<!--</blockquote>-->
					<!--<blockquote class = "blockquote">-->
						<h5 class = "center-text my-font" id ="may-story">Below are some of the languages and tools that I really enjoy and have been working with recently.</h5>
					<!--</blockquote> -->
				</div><!--message about my learning-->
			</div><!--my text container-->
		</div> <!--learning box background container-->
	</div><!--full learning container-->

<!--carousel -->
	<div class="container-fluid nopadding text-white">
		<div id="carouselExampleControls" class="carousel slide" data-ride="caroausel"><!--turned off data-ride="carousel" -->
			<div class = "container-md">
				<div class = "carousel-inner">
					<div class="carousel-item active" data-interval="200000">
						<!--Microsoft -->
						<div class = "row area-carousel">
							<div class = "col-6 nopadding" >
								<div id = "image-carousel-microsoft"></div>
								</div><!--close left side -->
							<div class = "col-lg-6 gray-background">
								<div id = "desc-boxa">
									<h3 class = "left-align-text"><i class="lni lni-microsoft"></i>  APPLICATION DEVELOPMENT</h3>
									<h3 class = "mt-1 mt-md-5 left-align-text">-C SHARP-.NET FRAMEWORK-WPF-WINDOWS FORMS-MICROSOFT VISUAL STUDIO-MICROSOFT SQL SERVER</h3>
								   	<blockquote class = "blockquote quote mt-1 mt-md-5 left-align-text">
										<h5 class ="align-left-text my-font my-carousel-text">I could have chosen C++; I could have chosen Java; and I have experience developing applications using both from college.  However, I find that development with C# using the .NET Framework, creating GUI using Windows Forms and WPF, and using Visual Studio along with Microsoft SQL Server is a really powerful way to to build applications and connect them to a database. </h5>
									</blockquote>
								</div> <!--close description area -->
							</div><!--close right side -->
						</div><!--close Microsoft carousel space-->
					</div><!--close Microsoft space-->
					<div class="carousel-item" data-interval="200000">
						<!--Web Development -->
						<div class = "row area-carousel">
							<div class = "col-lg-6 nopadding" >
								<div id = "image-carousel-webdev"></div>
								</div><!--close left side -->
							<div class = "col-lg-6 gray-background">
								<div id = "desc-boxa">
									<h3 class = "left-align-text"><i class="lni lni-website"></i>  DYNAMIC WEB DEVELOPMENT</h3>
									<h3 class = "mt-1 mt-md-5 left-align-text">-HTML-CSS-BOOTSTRAP-SEMANTIC UI-JAVASCRIPT-NODE.JS-PHP-MYSQL-MONGODB-GOORM IDE-APACHE-HEROKU</h3>
						<!--		    <h3 class = "mt-2 left-align-text">-HTML-CSS-SEMANTIC UI-JAVASCRIPT-PHP-MYSQL-APACHE-</h3> -->
									<blockquote class = "blockquote quote mt-1 mt-md-5 left-align-text">
										<h5 class ="align-left-text my-font my-carousel-text">I recently used two different web development stacks on my personal computer.  The first is a stack I learned in college in a web project I no longer have using PHP and MYSQL running on an Apache Server.  The second is running Node JS and Mongo DB through GOORM IDE and deploying it through Heroku.   I have enjoyed learning and utilizing various front and back end languages, frameworks, tools and APIs and hope to work with more in the future. </h5>
									</blockquote>
								</div> <!--close description area -->
							</div><!--close right side -->
						</div><!--close Web Development carousel space-->
					</div><!--close Web Development space-->
					<div class="carousel-item" data-interval="200000">
						<!--Databases -->
						<div class = "row area-carousel">
							<div class = "col-lg-6 nopadding" >
								<div id = "image-carousel-database"></div>
								</div><!--close left side -->
							<div class = "col-lg-6 gray-background">
								<div id = "desc-boxa">
									<h3 class = "left-align-text"><i class="lni lni-database"></i> RELATIONAL DATABASES AND MANAGEMENT SYSTEMS</h3>
									<h3 class = "mt-1 mt-md-5 left-align-text mt-1 mt-md-5">-SQL-MS SQL SERVER-SSMS-MYSQL-MYSQL WORKBENCH</h3>
								   	<blockquote class = "blockquote quote left-align-text">
										<h5 class ="align-left-text my-font my-carousel-text">I have queried, analyzed, configured, tested, and troubleshot large object oriented relational databases for all of my career and writing SQL comes naturally for me.  I fully understand how databases are designed and how they are used for business.  While I haven't used Oracle in a long time, I am very famillar with MS SQL Server and MySQL and I know how to connect them to a website or application. </h5>
									</blockquote>
								</div> <!--close description area -->
							</div><!--close right side -->
						</div><!--close Web Development carousel space-->
					</div><!--close Web Development space-->
					<div class="carousel-item" data-interval="200000">
						<!--Game Development -->
						<div class = "row area-carousel">
							<div class = "col-lg-6 nopadding" >
								<div id = "image-carousel-gamedev"></div>
								</div><!--close left side -->
							<div class = "col-lg-6 gray-background">
								<div id = "desc-boxa">
									<h3 class = "left-align-text"><i class="lni lni-game "></i> GAME DEVELOPMENT</h3>
									<h3 class = "mt-1 mt-md-5 left-align-text mt-1 mt-md-5">-UNITY ENGINE-C SHARP-</h3>
								   	<blockquote class = "blockquote quote left-align-text">
										<h5 class ="align-left-text my-font my-carousel-text">This is a fairly new interest of mine.  Since I started working with C#, I decided to give Unity a try and I'm glad I did.  While I have a lot to learn, I am becoming accustomed to designing with the Unity Engine using C# scripts and I'm really enjoying building my own interactive experiences</h5>
									</blockquote>
								</div> <!--close description area -->
							</div><!--close right side -->
						</div><!--close Web Development carousel space-->
					</div><!--close Web Development space-->
				</div> <!--close inner carousel section -->
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
  				</a>
  				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
  				</a>
  				<ol class="carousel-indicators wbehind">
    				<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
    				<li data-target="#carouselExampleControls" data-slide-to="1"></li>
    				<li data-target="#carouselExampleControls" data-slide-to="2"></li>
    				<li data-target="#carouselExampleControls" data-slide-to="3"></li>
  				</ol>
  			</div> <!--close container -->
  		</div><!--complete carousel with controllers -->
  	</div><!--close carousel section -->

<!--studying text-->
	<a id = "studying-text" class = "anchor"></a>
	<div class = "container-fluid nopadding center-text gray-background">
		<!--<div class="my-studying-box">-->
		<div class = "container-lg"> 
			<div id="my-studying-box">
				<div class="spacaer-c">
					<h3 class = "center-text title">WHAT HAVE I BEEN STUDYING RECENTLY?</h3>
				</div>
				<div class = "spacer-d">
					<h4 class = "my-font center-text">Recent Learning and Refreshers: </h4>
				</div>
				<div class = "spacer-c">
					<!--<blockquote class = "blockquote">-->
						<h5 class = "center-text my-font">The internet is a programmer's most useful tool.  To stay sharp, learn some new things, and review concepts from college, I took notes on lectures from LinkedIn Learning and YouTube, coded and saved tutorials, and used apps to learn and reference various languages.  Here is a list of some of the many topics I've studied recently.  Items I include here are definitely recommended to others who want to learn these topics. </h5>
					<!-- </blockquote> -->
				</div><!--message about my learning-->
			</div><!--my text container-->
		</div> <!--learning box background container-->
	</div><!--full learning container-->

	<!--classes text-->
	<div class = "container-fluid nopadding text-white">
		<div class="my-study-box">
			<div class = "container-lg">
				<div class="center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class="text-success">THE WEB DEVELOPER BOOTCAMP</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- 47 Hour UDEMY Course With Lectures, Examples, Tutorials, Exercises, and Code Along Projects</h3>
						<h3>- INCLUDES
							<ul>
								<li> -FRONT END DEVELOPMENT: HTML, CSS, Bootstrap 3 AND Bootstrap 4, Javascript, DOM Manipulation, jQuery</li>
								<li> -BACK END DEVELOPMENT: Node.JS, Express and Other NPM Tools, API's, REST Pattern Routing, Mongo DB, Data Associations, GIT, Heroku deployment</li>
							</ul>
						</h3>
						<a href="https://www.udemy.com/course/the-web-developer-bootcamp/learn/lecture/3919062#overview" class="example"><em>Udemy Course</em></a><br>
						<a  href="./assets/UC-e3542995-de7e-4a14-9a90-33e137b6cb2b.pdf " class = "example mt-1"><em>Download My Certificate</em> <i class="lni lni-download"></i></a><br>
						<a href="https://mysterious-meadow-38722.herokuapp.com/" class="example"><em>Yelp Camp Full Stack Final Project</em></a>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success">MICROSOFT SQL SERVER 2019 ESSENTIAL TRAINING</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Linked In Learning Lecture With Examples and Tutorials</h3>
						<h3>- INCLUDES Creating A Database, Table Design, SQL, Query Performance, Programmability, Backup and Restore, Security, and Monitoring</h3>
						<a href="https://www.linkedin.com/learning/microsoft-sql-server-2019-essential-training/core-concepts?u=67698794" class="example"><em>Linked In Learning</em></a><br>
						<a  href="./assets/CertificateOfCompletion_Microsoft SQL Server 2019 Essential Training (2).pdf " class = "example mt-1"><em>Download My Certificate</em> <i class="lni lni-download"></i></a>
					</div>
					
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success">UNITY AND C# - CREATE WITH CODE LIVE</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Learning Unity - 7 weeks of daily classes : Recorded Live Stream Tutorials and a personal project</h3>
						<h3>- INCLUDES Unity Engine Navigation, Player Control, Basic Gameplay, Object Spawning, Animation, Sound and Effects, Gameplay Mechanics, Game User Interfaces, Swapping Assets, Navigation Mesh, Saving and Loading Game States, FPS Controls, Project Development</h3>
					<a href="https://learn.unity.com/course/create-with-code-live" class="example"><em>Create with Code - Live</em></a>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success">GANG OF FOUR DESIGN PATTERNS IN C#: PART 1, PART 2, AND PART 3</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- 3 Part Linked in Learning Lecture Series with Example Programs and Explainations in C#</h3>
						<h3>- INCLUDES All 23 Game Of Four Design Patterns, Unit of Work, and Repository Patterns</h3>
						<a href="https://www.linkedin.com/learning/c-sharp-design-patterns-part-1/welcome?u=67698794" class="example"><em>Linked In Learning - Part 1</em></a><br>
						<a  href="./assets/CertificateOfCompletion_Cs Design Patterns_ Part 1.pdf " class = "example mt-1"><em>Download My Certificate- Part 1</em> <i class="lni lni-download"></i></a><br>
						<a href="https://www.linkedin.com/learning/c-sharp-design-patterns-part-2/welcome?u=67698794" class="example"><em>Linked In Learning - Part 2</em></a><br>
						<a  href="./assets/CertificateOfCompletion_Cs Design Patterns_ Part 2 (1).pdf" class = "example mt-1"><em>Download My Certificate- Part 2</em> <i class="lni lni-download"></i></a><br>
						<a href="https://www.linkedin.com/learning/c-sharp-design-patterns-part-3/welcome?u=67698794" class="example"><em>Linked In Learning - Part 3</em></a><br>
						<a  href="./assets/CertificateOfCompletion_Cs Design Patterns_ Part 3.pdf " class = "example mt-1"><em>Download My Certificate- Part 3</em> <i class="lni lni-download"></i></a>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success">GIT ESSENTIAL TRAINING: THE BASICS</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Linked in Learning Lecture with Tutorials and Examples</h3>
						<h3>- INCLUDES - Git Concepts & Architecture, Hash Values (SHA-1), HEAD pointer, Git workflow, Adding, Editing, Viewing, Deleting, Moving, and Renaming files, Undo Changes, Ignoring files
							
						</h3>
						<a href="https://www.linkedin.com/learning/git-essential-training-the-basics/use-git-version-control-software-to-manage-project-code?u=67698794" class="example"><em>Linked In Learning</em></a><br>
						<a  href="./assets/CertificateOfCompletion_Git Essential Training_ The Basics.pdf" class = "example mt-1"><em>Download My Certificate</em> <i class="lni lni-download"></i></a>	
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success">DEREK BANAS - UML 2.0 TUTORIAL</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Youtube Lecture Series with Examples</h3>
						<h3>- INCLUDES Explaining how to Read and Create Use Case Diagrams, Activity Diagrams, Sequence Diagrams, Class Diagrams, Communication Diagrams, Component Diagrams, State Machine Diagrams, and Deployment Diagrams</h3>
						<a href="https://www.youtube.com/watch?v=OkC7HKtiZC0&list=PLGLfVvz_LVvQ5G-LdJ8RLqe-ndo7QITYc" class="example"><em>Youtube Series</em></a><br>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success"> CALEB CURRY - DATABASE DESIGN</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Youtube Lecture Series With Examples and Tutorials</h3>
						<h3>- INCLUDES Relationship Types, Keys, Database Normalization, Data Types, Joins</h3>
						<a href="https://www.youtube.com/watch?v=e7Pr1VgPK4w&list=PL_c9BZzLwBRK0Pc28IdvPQizD2mJlgoID&index=2" class="example"><em>Youtube Series</em></a><br>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success"> INTRODUCTION TO DATA STRUCTURES AND ALGORITHMS IN JAVA </strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Linked in Learning Lecture Series With Examples and Programs of Various Data Structures and Algorithms</h3>
						<h3>- INCLUDES Big O Notation, Searching and Sorting Algorithms, Recursion, and in depth discussions on data structures with Pseudocode and programming principles in Java. (I programmed the same examples in C#)</h3>
						<a href="https://www.linkedin.com/learning/introduction-to-data-structures-algorithms-in-java/introduction-7?u=67698794" class="example"><em>Linked In Learning</em></a><br>
						<a  href="./assets/CertificateOfCompletion_Introduction to Data Structures And Algorithms in Java.pdf" class = "example mt-1"><em>Download My Certificate</em> <i class="lni lni-download"></i></a>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-blackboard"></i>
						<span>
							<span class ="completed">(COMPLETED)</span>
							<strong class = "text-success">SOLOLEARN -> C#, PHP, JAVASCRIPT, PYTHON</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- SOLOLEARN Website And App</h3>
						<h3>- Excellent resource on many different programming languages and concepts, able to learn on your phone, great resource </h3>
						<a  href="./assets/cs_cert.pdf" class = "example mt-1"><em>Download My Certificate - C#</em> <i class="lni lni-download"></i></a><br>
						<a  href="./assets/javascript_cert.pdf" class = "example mt-1"><em>Download My Certificate - Javascript</em> <i class="lni lni-download"></i></a><br>
						<a  href="./assets/php_cert.pdf" class = "example mt-1"><em>Download My Certificate - PHP</em> <i class="lni lni-download"></i></a><br>
						<a  href="./assets/python_cert.pdf" class = "example mt-1"><em>Download My Certificate - Python</em> <i class="lni lni-download"></i></a>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-pencil"></i>
						<span>
							<span class ="incomplete">(IN PROGRESS)</span>
							<strong class = "text-success">FREE CODE CAMP </strong>
						</span>
					</h4>
					
					<div class = "mt-3 align-left-text">
						<h3>- Free Website And App</h3>
						<h3>- Great tutorials and reference for Front End Design Languages.  I plan on coming back to complete all certifications on this site. </h3>
						<h3>- <span class = "completed">COMPLETED TOPICS INCLUDE </span>Basic HTML and HTML 5, Basic CSS, Applied Visual Design, Responsive Web Design Principles </h3>
						<a  href="https://www.freecodecamp.org/fcc499f09e0-b970-4117-95aa-d9a1cce5aa9e" class = "example mt-1"><em>My profile</em></a>
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-pencil"></i>
						<span>
							<span class ="incomplete">(IN PROGRESS)</span>
							<strong class = "text-success"> TUTORIAL FOR ASP.NET MVC </strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Phone App Documentation with references and programs to code yourself</h3>
						<h3>- <span class = "completed">COMPLETED TOPICS INCLUDE </span>Routing, Controllers, Actions, Filters, Selectors, Views, Data Model, Helpers, Model Binding, Databases, Validation, Security, Caching, Razor, Nuget Package Management, and Web API</h3>
						<h3>I programmed the examples on my computer and I definitely plan on finishing this as soon as I have some time.</h3>
						<h3>- <span class = "incomplete">OTHER TOPICS COVERED </span>- Data Annotations, Scaffolding, Bootstrap, Unit Testing, Deployment, Self-hosting
					</div>
				</div>
				<div class="mt-5 center-text">
					<h4 class="align-left-text">
						<i class="lni lni-pencil"></i>
						<span>
							<span class ="incomplete">(IN PROGRESS)</span>
							<strong class = "text-success">.NET FRAMEWORK 2.0 APPLICATION DEVELOPMENT FOUNDATION SELF PACED TRAINING KIT FOR MCTS EXAM 70-536</strong>
						</span>
					</h4>
					<div class = "mt-3 align-left-text">
						<h3>- Full .NET Framework 2.0 training book with with numerous examples, exam questions, and labs</h3>
						<h3>- The book is outdated but most of the concepts still hold up. I found that I had to dig in deeper in the Microsoft documents to understand and program some of the concepts in the labs.  I will finish reading through the other chapters and answer the questions and do the programming labs.</h3>
						<h3>- <span class = "completed">COMPLETED TOPICS COVERED</span> - Value and Reference Types, Using Streams, Constructing Classes, Generics, Type Conversion, File Monitoring, Reading and Writing Files, Stream Compression, Isolated Storage, Regualar Expressions, Collections, Dictionaries, Generic Collections, Serialization, Graphics, Images, and Text, Threading, Data Sharing, Asynchronous Model Applications Domains, Creating Windows Services, Configuring and Installing Applications, Configuration Management, Event Logging And Detecting, Debugging and Tracing, Performance Monitoring</h3>
						<h3> <span class = "incomplete">OTHER TOPICS COVERED</span> - User and Data Security, Encrypting and Decrypting Data, Interoperation, Reflection, Mail, Globalization</h3>
					</div>
				</div>
			</div><!--my text container-->
		</div> <!--learning box background container-->
	</div><!--full learning container-->
	
<!--email me image-->	
	<div class="container-fluid nopadding">
		<div id = "email-me-img-xl" class = "d-none d-xl-block"></div>
		<div id = "email-me-img-lg" class = "d-none d-lg-block d-xl-none"></div>
		<div id = "email-me-img-md" class = "d-none d-md-block d-lg-none d-xl-none"></div>
		<div id = "email-me-img-sm" class = "d-none d-sm-block d-md-none d-lg-none d-xl-none"></div>
	</div>

<!--Contact Me -->
	<a id="contact" class=anchor></a>
	<div class = "container-fluid nopadding center-text wlight-background">
		<div class = "container-lg"> 
			<div id="my-studying-box"> <!-- this is very similar so that css is used for contact info -->
				<div>
					<h3 class = "center-text title">CONTACT ME</h3>
				</div>
				<div class = "spacer-c">
					<blockquote class = "blockquote">
						<h5 class = "center-text my-font">Thanks for your interest!  Please contact me if you think I would be a good fit for a position at your company or if you are a programmer or IT professional and have any questions or comments for me.  You can call, email, or click the linked in icon to message and add me there.  I'm always looking for some new connections! </h5>
						<h5 class = "center-text my-font">Dublin, GA | Warner Robbins, GA | Macon, GA | Remote</h5>
						<h5 class = text-dark><a class = "center-text my-font" href = "tel:4048778977 ">(404) 877-8977</a><h5>
						<a href="mailto:walterkahres@gmail.com" class = "center-text my-font" target = "_blank">walterkahres@gmail.com <span class="sr-only">(current)</span></a></span>
                		<span ><a href="https://www.linkedin.com/in/walter-kahres-cs1" class = "my-font" target = "_blank"><i class="lni lni-linkedin-original"></i>  <span class="sr-only">(current)</span></a></span>

					</blockquote>
				</div><!--Contact me message my learning-->
			</div><!--my text container-->
		</div> <!-- background container-->
	</div><!--full Contact me container-->

<!--Footer -->
	<div class = "container-fluid nopadding center-text black-background">
		<div class ="container">
			<div id = "my-studying-box">
				<div>
					<i class="lni lni-lg lni-database"></i>
					<span class = "text-white" id="brand-label">  WKAHRES</span>
				</div>	
			</div>
		</div>
	</div>
	<div class = "container-fluid nopadding center-text gray-background">
		<div class = "container">
			<div id = "my-studying-box">
				<blockquote class = "blockquote">
						<h5 class = "my-font">2020 by Walter Kahres</h5>
						<h5 class = "my-font">Last updated - 8/19/2020</h5>
				</blockquote>
			</div> <!-- box close -->
		</div><!--container close -->
	</div> <!--gray fluid close -->
</div>	

</body>
</html>